@use '../base/variables' as *;

.hero {
    background-color: #010618;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 6rem 0;
}

/* =========================
   HEADER LOGO
========================= */

.header__logo {
    display: inline-flex;
    align-items: center;
        position: relative;
    width: 223px;
}


/* =========================
   HERO GRID
========================= */

.hero__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    align-items: center;
    position: relative;
    z-index: 2;
}

/* =========================
   HERO CONTENT
========================= */

.hero__title {
    font-size: 5rem;
    line-height: 1.1;
    margin-bottom: 2rem;
    font-weight: 700;
}

.hero__text {
    font-size: 1.6rem;
    color: #b0b7c3;
    margin-bottom: 3rem;
}

.hero__buttons {
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    gap: 1rem;
}

/* =========================
   HERO MEDIA
========================= */

.hero__media {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;

}

/* SLIDER */
.hero__slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 16px;
    background-color: #000; /* evita flash blanco */
}

/* TRACK */
.hero__slides {
    display: flex;
    width: 100%;
    height: 100%;
}

.hero__slides.is-ready {
    transition: transform .45s ease;
}

/* SLIDES */
.hero__slides picture {
    flex: 0 0 100%;
    height: 100%;
    display: block;
}

.hero__slides img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

/* =========================
   RESPONSIVE
========================= */

@media (max-width: 1127px) {
    .hero__title {
        font-size: 3.5rem;
    }
}

@media (max-width: 900px) {

    .hero__grid {
        grid-template-columns: 1fr;
        gap: 3rem;
        justify-items: center;
    }

    .hero__media {
        order: -1;
        width: 86%;
    }

    .hero__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 692px;
        text-align: center;
    }

    .hero__title {
        font-size: 3.4rem;
        text-align: center;
    }

    .hero__buttons {
        display: flex;
        gap: 3rem;
    }
}

@media (max-width: 768px) {

    .hero {
        padding: 0rem 0rem 6rem 0rem;
    }

    .hero__media {
        width: 100%;
    }

    .hero__content {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0rem 2rem;
    }

    .hero__title {
        font-size: 3rem;
    }

    .hero__buttons {
        justify-content: center;
    }

    .hero__grid {
        width: 100%;
        margin: 0;
        gap: 2rem;
    }

    .hero__slider {
        border-radius: 0px;
    }
}

@media (max-width: 505px) {

    .hero__content {
        padding: 1rem;
    }

    .hero__buttons {
        display: grid;
        grid-auto-flow: row;
        justify-content: stretch;
        width: 77%;
        gap: 1.5rem;
    }
}

@media (max-width: 435px) {

    .hero__grid {
        gap: 1rem;
    }

    .hero__title {
        font-size: 2.5rem;
    }
}